*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --grey:#4B505A;
    --blue:#C9D6F3;
    --black:#080808;
    --gold:#e4b43b;
    --light-green:#90ee90;
   
}

body {
    background-color: var(--blue);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    margin: 30px auto;
}

.input{       
    width: 250px; 
    display: flex;
    flex-direction: column;
    
}
.purchase-btn {
    background-color: var(--gold);
    border: 3px solid var(--black) ;
    border-radius: 12px;
    cursor: pointer;
    padding: 5px;
    margin-top: 15px;
    width: 150px;
    font-weight: bold;
}

.purchase-btn:hover {
    background-color: var(--light-green);
}

.user-input {
    border-radius: 5px;
    height: 30px;
    border: 3px var(--black) solid;
    font-weight: bold;
}

.bottom {
    border: 3px solid var(--black);
    height : 50px;
    margin-top: 10px;
    border-radius: 12px;
}

.circle {
    background-color : var(--black);
    border: 1px soli var(--black);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 10px auto;
    
}
