*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --grey:#4B505A;
    --blue:#C9D6F3;
    --black:#080808;
    --gold:#e4b43b;
    --light-green:#90ee90;
   
}

body {
    
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    margin: 30px auto;
}

.input{       
    width: 250px; 
    display: flex;
    flex-direction: column;
    
}
.purchase-btn {
    background-color: var(--gold);
    border: 3px solid var(--black) ;
    border-radius: 12px;
    cursor: pointer;
    padding: 5px;
    margin-top: 15px;
    width: 150px;
    font-weight: bold;
}

.purchase-btn:hover {
    background-color: var(--light-green);
}

.user-input {
    border-radius: 5px;
    height: 30px;
    border: 3px var(--black) solid;
    font-weight: bold;
}

.container {
    background-color: var(--grey);
    margin-top: 15px;
    border: 3px solid var(--black);
    padding-top: 5px;
    border-radius: 12px;
}
.screen {
    background-color: aqua;
    display: flex;
    border-bottom: 3px solid #080808;
    height: 30px;
    padding: 5px;
    
}
.cash-in-drawer {
    background-color: var(--blue);
    border-bottom: 3px solid #080808;
    padding: 25px 0;
}

.bts-container {
    display :flex;
    flex-direction: column;
    margin: 5px;
    font-weight: bold;
    
    }

.bts-1 {
    display: flex;
    flex-wrap: nowrap;
    color: var(--white);
    border: 1px soild var(--white);
        
}
.btn-1 {
    width: 20px;
    height: 17px;
    margin: 2px;
    border: 2px solid var(--black);
    
}

.btn-2 {
    width: 45px;
    height: 17px;
    background-color: red
    
}
.btn-3 {
    width: 45px;
    height: 17px;
    background-color: var(--light-green);
}

.btn-4 {
    width: 45px;
    height: 17px;
    background-color: var(--blue)
}
.btn-5 {
    width: 45px;
    height: 17px;
    background-color: whitesmoke;
}
.btn-6 {
    width: 45px;
    height: 17px;
    background-color:orangered;
}
.btn-7 {
    width: 45px;
    height: 17px;
    background-color: #e4b43b;
}


.drawer {
    border: 3px solid var(--black);
    background-color : var(--grey);
    height : 50px;
    margin-top: 10px;
    border-radius: 12px;
}

.circle {
    background-color : var(--black);
    border: 3px solid var(--black);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 10px auto;
    
}
